*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
nav{
    margin-bottom: 2rem;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    position: relative;
    list-style: none;
}
nav ul li a{
    position:relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
}
h1{
    text-align: center;
    border-bottom: 2px solid #c0c0c0;
}
h2{
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 1em;
    padding: 8px;
    border-bottom: 2px solid lightgray;
    text-align: center;
}

/*Gender pie chart*/
.pie-container{
    margin-top: 16px;
    display: flex;
    width: 350px;
    height: 350px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 2px 20px rgba(122, 122, 122, 0.5);
}
.gender-content{
    background:conic-gradient( pink 64%, lightblue 36%)
}
.gender-marker1{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:lightblue;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.gender-marker2{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:pink;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
/**/

/*Pclass*/
.pclass-pie-container{
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 20px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.pclass-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0px 175px;
    left: 0;
    top: 0;
    overflow: hidden;
}
.pclass-layer::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    transform-origin: 0px 175;
}
.pclass-layer:nth-child(1){
    background-color: gold;
    transform: translate(175px) rotate(0deg);
}
.pclass-layer:nth-child(1)::before{
    transform: rotate(100deg);
}
.pclass-layer:nth-child(2){
    background-color: silver;
    transform: translate(175px) rotate(89deg);
}
.pclass-layer:nth-child(2)::before{
    transform: rotate(160deg);
}
.pclass-layer:nth-child(3){
    background-color: brown;
    transform: translate(175px) rotate(165deg);
}
.pclass-layer:nth-child(3)::before{
    transform: rotate(180deg);
}
.pclass-layer:nth-child(4){
    background-color: brown;
    transform: translate(175px) rotate(180deg);
}
.pclass-layer:nth-child(4)::before{
    transform: rotate(20deg);
}
.pclass-marker1{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:gold;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.pclass-marker2{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:silver;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.pclass-marker3{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:brown;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
/**/

/*Survived*/
.survive-content{
    background:conic-gradient( white 68%, black 38%)
}
.survive-marker1{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:white;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.survive-marker2{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:black;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
/**/

/*Bar chart*/
.bar-container{
    position: relative;
    width: 600px;
    height: 500px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    margin-top: 2rem;
    margin-bottom: 1em;
    z-index: 0;
}
.amount{
    position: relative;
    top: 0px;
    left: -30px;
    width: 500px;
    height: 500px;
    z-index: 100;
}
.amount li{
    list-style: none;
    position: relative;
    left: 0px;
    height: 100px;
    border-bottom: 1px solid black;
}
.amount li::before{
    content: "";
    position: absolute;
    top: -15px;
    left: -30px;
    height: 100%;
    border-bottom: 1px solid black;
    transform: skewY(45deg);
    width: 30px;
}
.amount li div{
    position: absolute;
    width: 80px;
    font-size: 16px;
    left: -115px;
    padding-top: 55px;
    text-align: right;
}
.bar{
    width: 50px;
    height: 32%;
    background-color: paleturquoise;
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 1000;
    margin: 0 40px;
}
.two{
    left: 15%;
    height: 23%;
    background-color: palevioletred;
}
.three{
    left: 30%;
    height: 71%;
    background-color: plum;
}
.bar-marker1{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:paleturquoise;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.bar-marker2{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:palevioletred;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.bar-marker3{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:plum;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
/**/

/*Embarked*/
.embarked-pie-container{
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 20px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.embarked-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0px 175px;
    left: 0;
    top: 0;
    overflow: hidden;
}
.embarked-layer::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    transform-origin: 0px 175px;
    left: 0;
    top: 0;
}
.embarked-layer:nth-child(1){
    background-color: yellow;
    transform: translate(175px) rotate(0deg);
}
.embarked-layer:nth-child(1)::before{
    transform: rotate(100deg);
}
.embarked-layer:nth-child(2){
    background-color: pink;
    transform: translate(175px) rotate(1deg);
}
.embarked-layer:nth-child(2)::before{
    transform: rotate(160deg);
}
.embarked-layer:nth-child(3){
    background-color: cyan;
    transform: translate(175px) rotate(35deg);
}
.embarked-layer:nth-child(3)::before{
    transform: rotate(180deg);
}
.embarked-layer:nth-child(4){
    background-color:coral;
    transform: translate(175px) rotate(109deg);
}
.embarked-layer:nth-child(4)::before{
    transform: rotate(160deg);
}
.embarked-layer:nth-child(5){
    background-color:coral;
    transform: translate(175px) rotate(180deg);
}
.embarked-layer:nth-child(5)::before{
    transform: rotate(160deg);
}
.embarked-marker1{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:yellow;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.embarked-marker2{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:pink;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.embarked-marker3{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:cyan;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
.embarked-marker4{
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 2rem;
    margin-bottom: 1em;
    background-color:coral;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.5);
    overflow: hidden;
}
/**/
